body{
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
 .App{
    display: grid;
    align-content: center;
    gap: 20px;
 }
}
